.leilao-item{
  display: block;
  position: relative;
  min-height: 70px;
  width: 95%;
  margin: 0px auto 10px auto;
  padding: 15px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: left;
}

.leilao-item .nome{
  color: #367dfb;
  font-size: 16px;
  font-weight: bold;
}
.leilao-item .nome i{
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
.leilao-item .valor{
  font-size: 16px;
  display: block;
  color: #13b113;
  margin-top: 5px;
}

.leilao-item .infos{
  margin-top: 20px;
  color: #777;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  padding: 7px;
  display: block;
  overflow: hidden;
  position: relative;
}
.leilao-item .infos .group{
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 5px;;
}
.leilao-item .infos span{
  margin-right: 10px;
  float: left;
  display: block;
}

.leilao-item .buttons {
  margin-top: 20px;
  display: block;
  position: relative;
  overflow: hidden;
}

.leilao-item .buttons .button{
  float: right;
  position: relative;
  width: 100px;
  text-align: center;
  display: inline-block;
  padding: 7px;
  border: 1px solid #367dfb;
  background: #FFF;
  color: #367dfb;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 10px;
}
.leilao-item .buttons .button:hover{
  background: #367dfb;
  color: #FFF;
  cursor: pointer;
}
.leilao-item .buttons .button svg{
  top: 2px;
  margin-right: 4px;
  position: relative;
}
